.actionInfo {
    position: absolute;
    color: white;
    text-transform: uppercase;
    top: 5px;
    left: 5px;
    font-size: 24px;
    z-index: 1;
    background-color: black;
    padding: 5px;
}

@media (min-width:730px) {
    .actionInfo {
        font-size: 30px;
    }
}

@media (min-width:1024px) {
    .actionInfo {
        font-size: 36px;
        top: 130px;
        left: 100px;
    }
}