* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Alegreya', serif;
    overflow: hidden;
}

// .wrap {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.table {
    position: absolute;
    background-color: rgb(122, 40, 40);
    border: 4px solid rgb(168, 168, 168);
    width: 85%;
    height: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 200px;
    box-shadow: inset 0 3px 55px rgba(0, 0, 0, .8);
}

button {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .7);
    font-family: 'Alegreya', serif;
    font-size: 16px;
    transition: .2s;
}

.card {
    border-radius: 7px;
    box-shadow: inset 0 3px 10px rgba(175, 157, 57, 0.7);
    // font-family: 'Alegreya', serif;
    background-color: white;
    border: 3px solid black;
    flex-grow: 1;
    max-width: 50px;
}

.red {
    color: rgb(214, 37, 37);
}

.suit {
    height: 28px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.card p {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

// .suitFont {
//     font-family: Cards;
// }

.rotateInfo {
    display: none;
}

@media (orientation: portrait) {
    .wrap {
        display: none;
    }

    .rotateInfo {
        display: block;
        color: white;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;
    }
}

@media (min-width:730px) {
    .card {
        border-radius: 9px;
        box-shadow: inset 0 3px 15px rgba(175, 157, 57, 0.7);
        border: 3px solid black;
        max-width: 60px;
    }

    .cardBack {
        border-radius: 9px;
        box-shadow: inset 0 3px 10px rgba(175, 157, 57, 0.7);
        font-family: 'Alegreya', serif;
        background-color: rgb(92, 27, 27);
        border: 3px solid black;
        flex-grow: 1;
        max-width: 60px;
    }

    .card p {
        font-size: 32px;
    }

    .table {
        box-shadow: inset 0 6px 85px rgba(0, 0, 0, .8);
    }

    button {
        font-size: 17px;
    }
}

@media (min-width:1024px) {
    .table {
        width: 750px;
        height: 450px;
    }

    .wrap {
        width: 1024px;
        height: 768px;
    }

    button:hover:enabled {
        cursor: pointer;
        color: white;
        background-color: rgb(93, 22, 22)
    }
}