.amount {
    width: 75px;
    text-align: center;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    flex: 1;
    border: solid 2px white;
    font-size: 16px;

    @media (min-width:730px) {
        font-size: 18px;
    }
}