@import '../scss/Variables.scss';

.bet {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5px;
    left: 5px;
    height: 70px;
    width: 150px;
    border: 2px solid white;
    // margin-top: auto;
    background-color: white;

    &__inputAndAllIn {
        display: flex;
        flex: 1;
    }

    &__sliderAndPlusMinus {
        display: flex;
        flex: 1;
    }

    &__allIn,
    &__betMinus,
    &__betPlus {
        flex: 1;
    }

    button {
        border: solid 2px white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $buttonBackgroundColor;

        &:disabled {
            background-color: gray;
            color: black;
        }
    }
}

@media(min-width:730px) {
    .bet {
        height: 95px;
        width: 200px;
    }
}

@media(min-width:1024px) {
    .bet {
        height: 95px;
        width: 200px;
        bottom: 130px;
        left: 100px;
    }
}

h1 {
    color: blanchedalmond;
}