@import '../scss/Variables.scss';

.gameButtons {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    width: 110px;

    &__btnStandard {
        height: 35px;
        width: 110px;
        border: solid 2px white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $buttonBackgroundColor;

        &:disabled {
            background-color: gray;
            color: black;
        }
    }
}

@media (min-width:730px) {
    .gameButtons {
        width: 150px;
    }

    .gameButtons button {
        height: 45px;
        width: 150px;
    }
}

@media (min-width:1024px) {
    .gameButtons {
        bottom: 130px;
        right: 100px;
    }

    .gameButtons button {
        height: 55px;
        width: 150px;
    }
}