@mixin playerBet {
    position: absolute;
    left: 55vw;
    width: 100px;
}

@mixin playerChips {
    position: absolute;
    left: 40vw;
    width: 10px;
    height: 10px;
    transition: .6s;
    color: gold;
    font-size: 26px;

    @media(min-width: 730px) {
        font-size: 30px;
    }
}

.money {
    position: absolute;
    color: white;

    @media (min-width:730px) {
        font-size: 24px;
    }

    @media (min-width:1024px) {
        width: 750px;
        height: 450px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &__pot {
        position: absolute;
        top: 75px;
        left: 50px;
        width: 200px;

        @media (min-width:730px) {
            top: 95px;
        }

        @media (min-width:1024px) {
            left: 320px;
            top: 105px;
        }
    }

    &__potChips {
        position: absolute;
        top: 50vh;
        left: -50vw;
        width: 10px;
        height: 10px;
        transition: .6s;
        color: gold;
        font-size: 26px;

        &--potChipsOnTheTable {
            top: 110px;
            left: 50px;

            @media (min-width:730px) {
                top: 150px;
            }

            @media (min-width:1024px) {
                left: 450px;
                top: 105px;
            }
        }
    }

    &__player1bet {
        top: 55vh;
        @include playerBet();

        @media (min-width:1024px) {
            top: 280px;
            left: 490px;
        }
    }

    &__player2bet {
        top: 20vh;
        @include playerBet();

        @media (min-width:1024px) {
            top: 145px;
            left: 490px;
        }
    }

    &__player1chips {
        top: 150vh;
        @include playerChips();

        &--player1chipsInTheMiddle {
            top: 55vh;
            left: 63vw;

            @media (min-width:1024px) {
                top: 280px;
                left: 570px;
            }
        }
    }

    &__player2chips {
        top: -50vh;
        @include playerChips();

        &--player2chipsInTheMiddle {
            top: 20vh;
            left: 63vw;

            @media (min-width:1024px) {
                top: 145px;
                left: 570px;
            }
        }
    }
}