@import '../scss/Variables.scss';

.operatingButtons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;

    @media (min-width:730px) {
        width: 150px;
    }

    @media (min-width:1024px) {
        position: absolute;
        top: 130px;
        right: 100px;
        z-index: 1;
    }

    &__btnStandard {
        height: 35px;
        width: 110px;
        border: solid 2px white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $buttonBackgroundColor;

        @media (min-width:730px) {
            height: 45px;
            width: 150px;
        }

        @media (min-width:1024px) {
            height: 55px;
            width: 150px;
        }

        &:disabled {
            background-color: gray;
            color: black;
        }
    }
}