@mixin playerHUD {
    position: absolute;
    width: 150px;
    height: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin stack {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(223, 214, 189);
    font-weight: bold;
}

@mixin card {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 0;
    border: 3px solid black;
}

.player1 {
    bottom: 0;
    @include playerHUD();

    &__stack1 {
        bottom: 0;
        left: 0;
        @include stack();
    }

    .card1 {
        right: 50px;
        @include card();
    }

    .card2 {
        right: 0;
        @include card();
    }
}

.player2 {
    top: 0;
    @include playerHUD();

    &__stack2 {
        top: 0;
        right: 0;
        @include stack();
    }

    .card1 {
        left: 0;
        @include card();
    }

    .card2 {
        left: 50px;
        @include card();
    }

    &__cardBack {
        border-radius: 7px;
        box-shadow: inset 0 3px 10px rgba(144, 132, 59, 0.7);
        font-family: 'Alegreya', serif;
        background-color: rgb(100, 27, 27);
        border: 3px solid black;
        flex-grow: 1;
        max-width: 50px;
    }
}

@media(min-width:730px) {

    .player1,
    .player2 {
        width: 180px;
        height: 90px;
    }

    .player1 .card1 {
        width: 60px;
        height: 90px;
        left: 60px;
    }

    .player1 .card2 {
        width: 60px;
        height: 90px;
    }

    .player2 .card1 {
        width: 60px;
        height: 90px;
    }

    .player2 .card2 {
        width: 60px;
        height: 90px;
        left: 60px;
    }

    .stack1 {
        width: 60px;
        height: 50px;
        font-size: 20px;
    }

    .stack2 {
        width: 60px;
        height: 50px;
        font-size: 20px;
    }

    .suit {
        /* background-image: url('../suitsImg/heart.png'); */
        height: 28px;
        background-repeat: no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}